/* @media (min-width: 90em) {
  html {
    font-size: 70%;
  }
} */

@media (max-width: 87em) {
  html {
    font-size: 56%;
  }
  .sign-up-box {
    width: 42rem;
    height: 50rem;
  }
}
@media (max-width: 78.2em) {
  /* for dashboard */
  .userData-content-box .grid{
    grid-template-columns: 1fr 1fr;
  }
  
}
@media (max-width: 75em) {

  /* for dashboard */
 .main{
   grid-template-columns: 10fr 59rem 29fr;
 }
  .d-card {
    padding: 1rem 1.5rem;
  }
  .d-card h3 {
    margin-bottom: 2rem;
  }

}
@media (max-width: 73em) {
/* dashboard */
.main{
  grid-template-columns: 65fr 35fr;
  margin-bottom: 8rem;
}
/*  sidear*/
.sidebar{
  position: fixed;
  z-index:10 ;
  bottom: 0;
  left: 0;
  padding: 0;
  background-color: var(--lg-blue);
  width: 100%;
  box-shadow: 0px -5px 5px rgba(0, 0, 0, 0.1);
  /* border: 1px solid var(--dk-blue); */
  
}
.sidebar-header{
  margin-bottom: 0;
}
.sidebar .column{
  display: block;
}
.sidebar-logo{
  display: none;
}
.d-nav-list{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.d-nav-list li{
  margin-bottom: 0;
  padding:  2rem;
  gap: 2rem;
}
.sidebar-icon{
  width: 2.5rem;
  height: 2.4rem;
  fill: var(--dk-blue);
}
.d-nav-link:link,
.d-nav-link:visited{
  font-size: 1.7rem;
  color: var(--dk-blue);
}
.sidebar-footer{
  display: none;
}
.userData-content-box .grid{
  grid-template-columns: 45fr 55fr;
}
.user-data-chart{
  grid-column: 1/-1;
}

}
@media (max-width: 66em) {
  html {
    font-size: 52%;
  }

  /* pop up window */

  .sign-up-content {
    max-width: 42rem;
  }
  .operations__tab-container {
    margin-top: 2rem;
  }
  .operation-btn {
    padding: 1.5rem 2.8rem;
    font-size: 1.4rem;
  }
  .operations h3 {
    margin: 3rem 0;
  }
  .operations .column {
    margin-top: 0;
  }
  form {
    gap: 0 !important;
  }
  .operations__content--1 {
    margin-top: 4rem;
  }
  .operations__content--1 .column {
    width: 100%;
  }
  .n-popup-input-box1 {
    width: 100%;
  }
  #f-name,
  #l-name {
    width: 100%;
  }
  .operations__content--1 .username-input {
    padding: 0.5rem 2rem;
  }
}

@media (max-width: 61em) {
  html {
    font-size: 48%;
  }
  .sign-up-box {
    width: 44rem;
    height: 54rem;
  }
  .userData-content-box .grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 56.25em) {
  html {
    font-size: 45%;
  }

  .features-content .grid,
  .cards .grid {
    padding: 0 5rem;
    gap: 4rem;
    column-gap: 18rem;
    grid-template-columns: repeat(2, 1fr);
  }

  .feature-column {
    align-items: center;
    text-align: center;
  }

  .cards .grid {
    column-gap: 0rem;
    justify-items: center;
  }

  .card {
    max-width: 28.5rem;
  }
  /* Dashboard */
  .main{
    margin-top: 6rem;
    grid-template-columns: 1fr;
  }
  .notification{
    position: fixed;
    top: 0;
    right: 0rem;
    height: 7rem;
    text-align: end;
    /* border: 2px solid black; */
    background-color: var(--lg-blue);
    width: 100vw;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  #notification{
    margin-top: 1.8rem;
    transform: translate(-4rem);
    width: 3rem;
    height: 3rem;
  }
  .user-img{
    position: fixed;
    top: 5px;
    left: 3rem;
    width: 5rem !important;
    height: 5rem !important;

  }
  .info-header h2,.user-name .name,.user-name .email{
    display: none;
  }
  /* user data */
  .user-header{
    padding: 3rem 10rem;
    transform: scale(1.1);
  }
  .userData-content-box{
    padding: 3rem 10rem;
  }
  .userData-content-box .grid{
    grid-template-columns: 45fr 55fr;
    gap: 8rem;
    transform: scale(1.1);
  }
  /* user info */
  .user-info
{
  /* border: 2px solid black; */
  margin: 3rem 0;
}
  .user-name{
    margin-top: 0;
  }
  .pie-chart{
    margin-top: 0;
    grid-template-columns: 1fr 1fr;
  }
  #pieChart{
    width: 57rem !important;
    height: 18rem !important;
    margin-top: 1rem;
  }
  .pie-img-box h2{
    padding-left: 10rem;
    margin-bottom: 3rem;
  }
  .pie-info-box{
    transform: translateX(0rem);
    font-size: 1.6rem;
  }
  /* user data chart */
  .user-data-chart{
    margin-top: 8rem;
  }
}

@media (max-width: 46.25em) {
  html {
    font-size: 40%;
  }
}

@media (max-width: 43em) {
  html {
    font-size: 36%;
  }
}

@media (max-width: 37.5em) {
  html {
    font-size: 50%;
  }

  .hero,
  .features-content .grid,
  .cards .grid,
  .footer-parent,
  .parralax-section .grid,
  #section-4 .grid,
  .slider-header-box {
    grid-template-columns: 1fr;
    justify-content: center;
    justify-items: center;
  }

  /* Header */
  .h-icon {
    position: absolute;
    top: 3rem;
    right: 2.5rem;
    cursor: pointer;
  }

  .hamburger {
    display: inline-block;
  }
  .header {
    overflow: visible;
  }
  .main-nav-list {
    display: none;
  }
  .main-nav-list2 {
    display: flex;
    width: 90%;
    padding: 3rem 12rem;
    position: fixed;
    top: 9rem;
    left: 5%;
    /* z-index: 10; */
    background-color: var(--white);
    gap: 3rem;
    border-radius: 1rem;
    flex-direction: column;
    box-shadow: 0px 172px 46px 150px rgba(45, 49, 77, 0.57);
    /* animation */
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    height: 1rem;
    overflow: hidden;
    transform: translateY(-14rem);
    transition: all 0.1s;
  }
  .nav-open {
    transition: all 0.5s;
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    height: fit-content;
    overflow: visible;
    transform: translateY(0rem);
  }

  .main-nav-link:link,
  .main-nav-link:visited {
    color: var(--dk-blue);
    font-size: 2rem;
  }

  .header-btn-box {
    display: none;
  }

  /* section hero */

  .hero {
    padding-left: 0;
  }

  .hero-img-box {
    margin-bottom: -15rem;
    grid-row: 1;
    background: url('../images/bg-intro-mobile.svg');
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 100% 80%;
  }

  .hero-img {
    transform: translate(0rem, -17rem);
  }

  .hero-text-box {
    text-align: center;
    padding: 0 2rem 5rem 2rem;
  }

  .heading-primary {
    font-size: 4.5rem;
    margin-bottom: 2rem;
  }

  /* section features */
  .section-features {
    padding-bottom: 6rem;
  }

  .features-header {
    text-align: center;
  }

  .heading-secondary {
    font-size: 3.7rem;
    margin-bottom: 1.6rem;
    text-align: center !important;
  }

  .features-content .grid {
    gap: 1rem;
    padding: 0;
  }

  .feature-column {
    gap: 2.5rem;
  }

  .heading-tertiary {
    font-size: 2.5rem;
    margin-top: -1rem;
  }

  .features-content p {
    font-size: 1.8rem;
  }
  /* section Paralax */
  .parralax-section {
    clip-path: polygon(0 5%, 100% 0, 100% 90%, 0% 100%);
  }
  .parralax-text-box {
    padding-bottom: 5rem;
    text-align: center;
  }
  .img1 {
    width: 20.7rem;
    height: 28.4rem;
    transform: translateY(12%);
  }
  .img2 {
    width: 30.1rem;
    height: 40rem;
    transform: translateY(-2%);
  }
  .i20-8 {
    transform: translateY(5%) !important;
  }
  /* section 4 */
  #section-4 {
    margin-top: -11rem;
    clip-path: polygon(0 0, 100% 0, 100% 95%, 0% 100%);
  }
  #section-4 .grid {
    gap: 4rem;
  }
  .phn-img-box img {
    width: 40rem;
    height: 50rem;
  }
  .phn-text-box {
    grid-row: 1;
    margin-bottom: 3rem;
  }
  /* section slider */
  .slider-header-box {
    gap: 4rem;
  }
  .slider-tab {
    justify-self: center;
    gap: 3rem;
  }
  .slider {
    height: 68rem;
  }
  .slide {
    flex-direction: column;
    height: 68rem;
  }
  /* section card */
  .cards {
    padding-top: 2rem;
  }

  .cards .grid {
    gap: 2rem;
    padding: 0;
  }

  .card {
    width: 32rem;
    box-shadow: 0 0 15px 2px rgba(0, 0, 0, 0.1);
  }

  .card-content {
    padding: 2rem;
  }

  .card-content span {
    font-size: 1.3rem;
  }

  .big-text {
    font-size: 1.6rem !important;
  }

  .card-content .description {
    font-size: 1.4rem;
  }

  /* Footer */
  .footer-parent {
    justify-items: center;
    gap: 4rem;
  }

  .footer-logo svg {
    width: 19rem;
    height: 3.3rem;
  }

  .footer-column:nth-child(3) {
    margin-top: -2rem;
  }

  .footer-column:last-child {
    align-items: center;
  }

  .column {
    align-items: center;
  }
}

@media (max-width: 28.5em) {
  .heading-primary {
    font-size: 4rem;
  }
  .sign-up-box {
    width: 40rem;
  }
  .operation-btn {
    padding: 1rem 2rem;
  }
  /* parralax */

  .img1 {
    width: 18.7rem;
    height: 25.4rem;
    transform: translateY(12%);
  }
  .img2 {
    width: 27.1rem;
    height: 36rem;
    transform: translateY(-2%);
  }
  /* section phone */
  #section-4 {
    padding-bottom: 11rem;
  }
  #section-4 .grid {
    gap: 4rem;
  }
  .phn-img-box {
    width: 40rem;
    height: 50rem;
  }
  .slider-tab {
    gap: 1rem;
  }
}
