/* Header */
.header {
  background-color: #fff;
  height: 8rem;
  padding: 2rem 0 3rem 0;
}

.sticky-nav {
  position: fixed;
  width: 100%;
  background: rgba(255, 255, 255, 0.95);
  z-index: 1000;
}
.h-icon {
  display: none;
}
.header-logo-box svg {
  width: 14rem;
  height: 3rem;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-nav-list {
  gap: 1.7rem;
  list-style: none;
}

.main-nav-link:link,
.main-nav-link:visited {
  text-decoration: none;
  font-size: 1.4rem;
  display: inline-block;
  padding: 0 1rem;
  transition: all 0.2s;
}

.main-nav-link:hover,
.main-nav-link:active {
  /* trick */
  box-shadow: 0px 3.7rem 0 -6px var(--lime-Green);
}
/* Modal Window */
.pop-up {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(45, 49, 77, 0.596);
  min-height: 100vh;
  width: 100%;
  /* hidden trick */
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.open-modal {
  transition: all 0.5s;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.open-modal .sign-up-box {
  transform: translateY(0rem) !important;
  transition: all .5s;
}

.sign-up-box {
  background-color: white;
  width: 50rem;
  height: 60rem;
  border-radius: 5px;
  transform: translateY(-4rem);
  position: relative;
}

.modal-icon {
  position: absolute;
  top: -3rem;
  right: -3rem;
  cursor: pointer;
  padding: 0.4rem 0.5rem;
  background-color: var(--lg-blue);
  border-radius: 5px;
}

.modal-icon svg {
  width: 1.6rem;
}

.modal-icon g {
  fill: var(--dk-blue);
}

.sign-up-content {
  max-width: 48rem;
  padding: 0 2rem;
  margin: 0 auto;
}

/* .pop-up */
.operations__tab-container {
  margin-top: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.operation-btn {
  border: none;
  border-bottom: 1px solid silver;
  padding: 2rem 4rem;
  opacity: 0.8;
  color: var(--dk-blue);
  font-weight: 700;
  background-color: transparent;
}

.operations__tab-active {
  box-shadow: inset 0 1px 0 1px silver;
  border-bottom: none !important;
  opacity: 1 !important;
}

.operations__content {
  display: none;
}

.operations__content--active {
  display: block;
}

.operations .column {
  align-items: center;
  gap: 1rem;
  margin-top: 2rem;
}

.operations h3 {
  align-self: center;
  font-size: 1.6rem;
  margin-bottom: 2rem;
}

.ip {
  margin-bottom: 2rem;
}

.popup-username {
  font-size: 1.4rem;
  margin-bottom: 8px;
  color: var(--dk-blue);
}

.username-input {
  border: 2px solid var(--lg-blue);
  padding: 1rem 3rem;
  border-bottom: 3px solid var(--lg-blue);
}

.btn-signin {
  width: 100%;
  padding: 1rem 1rem;
  color: #fff;
  background-color: var(--dk-blue);
  border: none;
  border-radius: 5px;
  margin: 1rem 0;
}

.btn-signin:hover {
  opacity: 0.8;
  transform: all 0.5s;
}

.f-p {
  color: blueviolet;
  font-size: 1.2rem;
  cursor: pointer;
}

.or {
  color: var(--grayish-blue);
}

.link-parent h4 {
  text-align: center;
  margin-bottom: 1rem;
  font-size: 1.3rem;
  font-weight: 500;
}

.links {
  gap: 6px;
}

.social-icon {
  border: 1px solid silver;
  border-radius: 2px;
  padding: 0.5rem 2rem;
  cursor: pointer;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  gap: 2rem;
  text-transform: uppercase;
}

.social-icon:hover {
  transition: all 0.5s;
  opacity: 0.6;
}

.s-i-icon {
  height: 2rem;
  width: 2rem;
  fill: var(--dk-blue);

}

.social-icon span {
  font-size: 1.1rem;
  font-weight: 500;
  color: var(--grayish-blue);
}

/* new to easy bank */
.n-popup-input-box1 {
  display: flex;
  gap: 2rem;
  justify-content: space-between;
}

.n-popup-input-box1 .username-input {
  padding: 1rem;
}

.popup-input-box2,
.popup-input-box4 {
  align-self: flex-start;
  width: 100%;
}

.popup-input-box2 .username-input {
  width: 100%;
}

.popup-input-box4 label {
  font-size: 1.4rem;
  color: var(--grayish-blue);
  cursor: pointer;
}

.note {
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  background-color: var(--lg-blue);
  align-self: flex-start;
  margin: 1rem 0 0 1.7rem;
}

/* Section hero */

.section-hero {
  background-color: #fff;
}
.hero {
  grid-template-columns: 40fr 60fr;
  /* max-width: 127.8rem; */
  padding: 0;
  padding-left: 3rem;
  margin: 0;
  margin-left: auto;
  align-items: center;
  gap: 2rem;
}
.hero-img-box {
  background: url("../images/bg-intro-desktop.svg");
  background-size: 135% 102%;
  background-repeat: no-repeat;
  background-position: 20% 1225%;
  margin-bottom: -29rem;
  overflow: hidden;
}
.hero-img {
  width: 100%;
  transform: translate(10rem, -12rem);
}

/* Section Featured IN */
.section-feature{
  transform: translateY(60%);
  opacity: 0;
  margin-bottom: 90rem;
}
 .in-viewport{
  transition: all 1s;
  transform: translate(0%) !important;
  transform: rotate(0deg) !important;
   opacity: 1 !important; 
 } 
.section-feature h2 {
  text-align: center;
  margin-bottom: 3.2rem;
  opacity: 0.5;
}
.feature-logos {
  display: flex;
  justify-content: space-around;
}
.feature-logos img {
  filter: brightness(0);
  opacity: 50%;
  height: 3.2rem;
}

/* /////////////////////////////// */
/* Section Feature */
/* /////////////////////////////// */
.section-features {
  padding: 13rem 0 8rem 0;
  
}
.features-header {
  max-width: 61rem;
  margin-bottom: 7.5rem;
}
.section-features .heading-secondary {
  font-size: 4rem;
  margin-bottom: 3.5rem;
  text-align: start;
}
.features-content .grid {
  gap: 2rem;
}

.feature-column {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  transform: rotateY(80deg);
  opacity: 0;
}


.feature-icon svg {
  width: 8rem;
  height: 8rem;
}
.circle circle {
  fill: var(--gradient) !important;
}
.heading-tertiary {
  font-size: 2rem;
}
.features-content p {
  font-size: 1.5rem;
  line-height: 1.5;
  margin-top: -1rem;
}

/* section parralax */

.parralax-section{
  padding:  15rem 0;
  background-color: var(--parralax-section);
  /* background-color: #fff; */
clip-path: polygon(0 10%, 100% 0, 100% 90%, 0% 100%);
margin-bottom: 100rem;
}
.parralax-section .grid{
  align-items: center;
  gap: 1rem;
}
.parralax-text-box{
  padding: 0 2rem;
  transform: translateX(-20%);
  opacity: 0;
}
.parralax-section .btn:link,
.parralax-section .btn:visited{
  background: var(--dk-blue);
  padding: 1.5rem 3rem;
}

.parralax-img-box{
  display: flex;
  align-items: center;
  transform: translateX(20%);
  opacity: 0;
}
/* img1 */
.img1{
  width: 237px;
  height: 314px;
  transform: translateY(6%);
}

.i10-8 {
  transform: translateY(3%);
  transition: all 1s;
}
.i1{
  transform: translateY(0);
  transition: all 1s;
}
/* img2 */
.img2{
  width: 331px;
  height: 440px;
  transform: translateY(-5%);
}
