.dashboard {
  padding-top: 1rem;
  min-height: 100vh;
  width: 100vw;
  background: url("../images/diamond-sunset.svg");
}
.main {
  min-height: 98vh;
  grid-template-columns: 18fr 55fr 27fr;
  grid-template-rows: 80fr 20fr;
  /* background: var(--lg-blue); */
  background-color: #fff;
}

/* sidebar */
.sidebar {
  grid-row: 1/-1;
  background-color: var(--dk-blue);
  padding: 4rem;
}
.sidebar-content {
  justify-content: space-between;
}
.sidebar-header {
  margin-bottom: 44rem;
}
.sidebar-logo {
  margin-bottom: 4.5rem;
}
#easy-bank {
  height: 2.3rem;
}
.main-nav-list {
  list-style: none;
}
.main-nav-list li {
  display: flex;
  gap: 1.5rem;
  margin-bottom: 4rem;
}
.sidebar-icon {
  fill: rgba(255, 255, 255, 0.647);
  width: 2rem;
  height: 2rem;
  transition: all 0.3s;
}
li:hover .sidebar-icon {
  fill: #fff;
}
.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.647);
  font-size: 1.5rem;
  transition: all 0.3s;
}
li:hover .main-nav-link:hover,
li:hover .main-nav-link:active {
  color: #fff;
}
/* user data */
/* .user-data {
   background-color: yellow; 
} */
.user-header {
  padding: 3rem 4rem;
}
.user-header h1 {
  font-size: 3.8rem;
  color: var(--dk-blue);
  margin-bottom: 4rem;
  font-weight: 500;
}
.balance-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.balance-box span:first-child {
  font-size: 1.4rem;
  text-transform: capitalize;
  color: var(--bright-Cyan);
}
.balance-box p {
  font-size: 5.2rem;
  font-weight: 700;
  margin-top: 1rem;
  color: var(--dk-blue);
}
.btn {
  padding: 1rem 5rem;
  opacity: 0.9;
  border-radius: 5px;
  background: var(--lg-blue);
  font-size: 1.5rem;
  letter-spacing: 0.5px;
  color: #343;
  border: none;
  display: flex;
  gap: 1.4rem;
  cursor: pointer;
  font-family: "Roboto";
  font-weight: 500;
  transition: all 0.3s;
}
.btn:hover {
  background-color: #fff;
  box-shadow: inset 0 0 0 3px var(--lg-blue);
}
.userData-content-box {
  padding: 0 0 0 4rem;
}
.userData-content-box .grid {
  grid-template-columns: 47fr 53fr;
  gap: 1rem;
}
.card-box {
  gap: 3rem;
  justify-content: space-between;
  overflow: hidden;
}
.card {
  background: url(../images/bg-simplify-section-desktop.svg), var(--bright-red);
  background-size: 134% 102%;
  background-repeat: no-repeat;
  background-position: 18% 99%;
  border-radius: 1rem;
  padding: 2rem 3rem;
}
.card-box .card:nth-child(2) {
  background: url(../images/bg-simplify-section-desktop.svg), var(--dk-blue);
  background-size: 134% 102%;
  background-repeat: no-repeat;
  background-position: 18% 99%;
}
.card span {
  text-transform: uppercase;
  color: #fff;
  font-weight: 700;
  margin-bottom: 5px;
  display: inline-block;
  background-color: var(--bright-Cyan);
  padding: 0.3rem 1rem;
  border: 1px solid silver;
  border-radius: 5px;
}

.card h3 {
  font-size: 2rem;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.856);
  margin-bottom: 3rem;
  text-transform: capitalize;
}
.loan-input {
  display: flex;
  gap: 1rem;
}
.input {
  border: none;
  border-radius: 5px;
  padding: 0.4rem 0;
  padding-left: 1rem;
}
textarea:focus,
input:focus {
  outline: none;
}
button {
  cursor: pointer;
}
.input-btn {
  padding: 0rem 0.6rem 0.2rem 0.6rem;
  font-size: 1.8rem;
  border-radius: 5px;
  background-color: var(--lg-blue);
  border: none;
  height: 2.2rem;
}
.transfer input {
  width: 10rem;
  border-radius: 5px;
  padding: 0.4rem 0;
  padding-left: 1rem;
  font-size: 1.2rem;
}
.card p {
  font-size: 1.4rem;
  color: var(--bright-Cyan);
  margin-top: 8px;
  text-align: center;
}
.transfer .input-btn {
  height: 2.2rem;
}
.apply {
  text-align: start !important;
  color: #fff !important;
}
.vat {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
}
.round {
  position: relative;
}
.round-shape {
  border-radius: 50%;
  opacity: 0.7;
  width: 4rem;
  height: 4rem;
  background-color: var(--bright-red);
}
.round2 {
  position: absolute;
  top: 0;
  left: 1.8rem;
  opacity: 0.5;
}
.vat-child {
  font-size: 1.2rem;
  color: var(--grayish-blue);
}
.log-out {
  margin-top: 2rem;
}
.log-out p {
  font-size: 1.6rem;
  color: var(--grayish-blue);
  float: right;
  background-color: var(--lg-blue);
  padding: 0.4rem 1rem;
  border-radius: 5px;
}
#warning {
  fill: var(--bright-red);
}
/* User Info */
.user-info {
  padding: 3rem 4rem;
  border-left: 1px solid rgba(192, 192, 192, 0.21);
  /* trick border left */
  /* box-shadow: -2px 0px 3px 0px rgba(170, 170, 170, 0.14); */
}
.info-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--dk-blue);
}
.user-info h2 {
  font-size: 2.4rem;
  font-weight: 500;
}
#notification {
  width: 2.5rem;
  cursor: pointer;
  height: 2.5rem;
}

.user-name {
  max-width: 20rem;
  margin: 0 auto;
  margin-top: 8rem;
}
.user-name img {
  width: 20rem;
  height: 20rem;
  object-fit: cover;
  border-radius: 50%;
}
.name {
  font-size: 2.4rem;
  color: var(--dk-blue);
  margin: 2rem 0 1rem 0;
  text-align: center;
  font-weight: 500;
}
.email {
  display: block;
  text-align: center;
  font-size: 1.4rem;
  color: var(--grayish-blue);
}
/* transactions */
.transactions-box {
  gap: 3rem;
  padding: 1rem 2rem;
  /* background-color: var(--lg-blue); */
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.05);
  height: 50rem;
  overflow-y: scroll;
}
.transactions-box::-webkit-scrollbar {
  width: 0px;
}
.transactions-box::-webkit-scrollbar {
  background: var(--lg-blue);
  width: 4px;
  height: 0px;
}
.transactions-box::-webkit-scrollbar-thumb {
  height: 20px;
  border-radius: 8px;
  border: 1px solid var(--grayish-blue);
  background-clip: content-box;
  background-color: var(--grayish-blue);
}
.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.transactions-header h3 {
  font-size: 2rem;
  font-weight: 500;
  color: var(--dk-blue);
}

.t-icon {
  width: 2rem;
  height: 2rem;
}
.product-info {
  display: flex;
  gap: 1.5rem;
}
.logo {
  padding: 5px 9px;
  border-radius: 5px;
  background-color: rgba(242, 95, 58, 0.337);
}
.logo svg {
  height: 2.2rem;
  width: 2.2rem;
}
.info h4 {
  font-size: 1.4rem;
  font-weight: 500;
  margin-bottom: 5px;
}
.date {
  color: var(--bright-Cyan);
}
.transactions-amount {
  font-size: 1.7rem;
  color: var(--bright-Cyan);
}
/* user data chart */
.user-data-chart {
  grid-column: 2/-1;
  /* background-color: red; */
}
